node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.iml
.classpath
.project
.settings

# Env
.env
.env.*
!.env.example
!.env.test

# Docker Secrets (sensitive files)
secrets/
.compose.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Gradle
.gradle
**/.gradle
build/
**/build/
out/

# Database
/uploads
*.db
